
/* orange color:#E57A18 */
/* green:#1FC113 */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#pop-btn
{
    background-color:#1FC113;
    color: white;
    text-transform: uppercase;
    outline: none;
    padding: 0.8rem;
    border: none;
}
.contact-us span img
{
    font-size: 1.3rem;
    color:black;
}

.contact-us 
{
    font-size: 1rem;
    font-weight: 500;
}

.contact-us .line
{
    color: gray;
    margin: 0.3rem 0;
}


#pay-btn
{
    background-color:#1FC113;
    color: white;
    padding: 0.4rem 0.6rem;
    box-sizing: border-box;
    text-decoration: none;
}

#pay-btn i
{
    margin-left: 12px;
}

#contact-icons a 
{
    text-decoration: none;
}
#contact-icons a i
{ 
    color: gray;
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 16px;
}

.sub-heading
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 770px) {
    .sub-heading {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 0!important;
      align-items: flex-end;
      padding: 1rem;
      width: 100%;
      max-width: 100%!important;

    }

    .sub-heading span,.contact-icons,a
    {
        margin: 0.4rem;
    }
  }

/* Start of header section */

.h-nav ul li:hover
{
    color: black!important;
}
.top-navbar
{
    background-color:#E57A18!important;
    
}
.nav-bar
{
    background-color:#E57A18!important;
    margin: 0!important;
    padding: 0!important;
    color: white!important;

}

.navbar-container
{
    margin: 0 auto;
}

.navbar-container li a
{
    color: white!important;
    margin-left: 1.6rem;
    box-sizing: border-box;
    font-family: sans-serif;
}

@media screen and (max-width: 770px) {
    .navbar-container li a
    {
        color: white!important;
        margin-left: 0rem;
        box-sizing: border-box;
        font-family: sans-serif;
    }
  }

/* Start of banner */
.banner
{
    margin:0!important;
    padding: 0!important;
    position: relative;
}
.banner img
{
    width: 100%;
    height: 400px;
    opacity: 0.3;
}

.banner-text
{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 20%;
    padding: 0.6rem;
    box-sizing: border-box;
    color: black;
    background-color: transparent;
}
#first
{
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: uppercase;
    font-family: sans-serif;

}
#second
{
    margin-top: 4px;
    font-size: 4rem;
    line-height: 1;
    font-weight: 700;
    font-family: sans-serif;
}
#third
{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    font-family: sans-serif;
}
@media screen and (max-width: 770px) {
    #first
    {
        font-size: 0.6rem;
    }
    #second
    {
        font-size: 3rem;
    }
    #third
    {
        font-size: 1.5rem;
    }
  }

  @media screen and (max-width:250px)
  {
    #first
    {
        font-size: 0.4rem;
    }
    #second
    {
        font-size: 2rem;
    }
    #third
    {
        font-size: 1rem;
    } 
  }
/* End of banner */
.tally-conatiner
{
    display: flex;
}

.tally-first
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
}

.tally-first .head
{
    font-size: 2rem;
    font-weight: 700;

}
.tally-first .arrow
{
    
    color: gray;
}
.tally
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:0;
    padding: 0 3.6rem;
    box-sizing: border-box;
    border-right: 1px solid gray;

}

.tally .t-main
{
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.2;
}
.tally .t-sub
{
    font-weight: 500;
    font-size: 1rem;
    line-height: 0.8;
}

@media screen and (max-width:800px)
{
    .tally-first .head
    {
        font-size: 1.4rem;
        font-weight: 700;

    }
    .tally .t-main
    {
        font-size: 1.5rem;
    }
    .tally .t-sub
    {
        font-size: 0.6rem;
    }
    .tally-conatiner
    {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .tally-first img
    {
        display: none;
    }
    .tally
    {
        align-items: center;
        justify-content: center;
        border: none;
        padding: 1rem;
        text-align: center;
    }
}

@media screen and (max-width:300px)
{
    .tally-conatiner
    {
        display: flex;
        flex-direction: column;
    }
}
/* End of banner */

/* Announcemnet */

#see_more
{
    border-bottom:1px solid white;
    font-size:1.2rem;
    text-decoration:none;
    cursor:pointer;
}
.announ
{
    background-color:hsl(116, 82%, 42%);
    padding: 1rem  0;
    margin: 0;
}
.announ h4
{
    text-align: center;
    color: white;
}
.card-announce
{
    background-color: white;
    box-sizing: border-box;
    height: 150px;
    border-radius: 6px;
}

.card-announce .date
{
    background-color: lightblue;
    color: black;
    box-sizing: border-box;
    padding: 0.3rem;
    margin: 0.5rem;
    font-weight: 550;
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 8px;
}
.card-announce p
{
    margin-top: 8px;
    box-sizing: border-box;
    margin: 0.5rem;
}
/* End of Announcemnet*/

/* Start of courser */
.course h4
{
    font-family: sans-serif;
    margin-top: 20px;
}
.course-col img
{
    width: 100%;
    height: 400px;
}

.c-name
{
    position: relative;
    box-sizing: border-box;
}
.c-name .c-heading
{
    position: absolute;
    color: white;
    background-color:#E57A18;
    padding: 0.4rem;
    padding-left: 1.2rem;
    top: 1rem;
    left: 1rem;
}
.c-card
{
    position: absolute;
    display: flex;
    bottom: 1rem;
    left: 1rem;
    right: 1rem; 
    margin:0 1.6rem;
    color: black;
 }
 .c-card span
 {
     background-color: #E57A18;
     color: white;
 }
 .c-card-img img
 {
     width: 40px;
     height: 40px;
     text-align: center; 
 }
 .c-card-img
 {
    background-color: #E57A18;
    width: 40%!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 }
 .c-card-content
 {
     background-color: white;
     padding: 0.6rem;
     box-sizing: border-box;
 }
 .c-card-content h5
 {
    line-height: 0.8;
    font-weight: 700;
 }

 .c-card-content p
 {
     line-height: 1.2;
     font-weight: 500;
 }
/* End of Course */

/* About Section */
.about
{
    margin-top: 4rem!important;
}
.about-details 
{
    padding: 2.2rem 1rem;
    box-sizing: border-box;
}

.about-details span
{
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.about-details h2
{
    font-size: 4rem;
    font-weight: 700;
    color: black;
    margin-top: 1rem;
    line-height: 0.9;
}

@media screen and (max-width:400px)
{
    .about-details h2
    {
        font-size: 2rem;
    }
    .about-details span
    {
        font-size: 1rem;
    }
}

.about-details p
{
    font-size: 1.1rem;
    margin-top: 1rem;
    font-family: sans-serif;
}
.about-details a
{
    margin-top: 1rem;
    padding-bottom :0.2rem;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 550;
    font-family: sans-serif;
    border-bottom: 4px solid #1FC113;
}

.about-details a:hover
{
    text-decoration: none;
}

@media screen and (max-width:750px)
{
    .a-img
    {
        display: none;
    }
}

/* End of About Section */

/* Start of News Section */

.news-heading
{
    display: flex;
    justify-content: space-between;
}
.news-heading h4
{   
    font-size: 2rem;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
}
.news-heading select
{
    border: none;
    font-size: 1.2rem;
}
.news-card
{
    display: flex;
    flex-direction: row;
    border-bottom: 0.5px solid gray;
    padding-bottom: 1rem;
    padding-top: 1.4rem;
}
.news-card-i
{
    position: relative;
    text-align: center;
}
.news-card-i img
{
    width: 140px;
    height: 100%;
}

.news-card-i span
{
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    padding: 1px;
    background-color: #1FC113;
    color: white;
    font-weight: 600;
    box-sizing: border-box;
    font-size: 1.2rem;
}
.news-card-c
{
    padding-left: 1.2rem;
}
.news-card-c span
{
    font-size: 1.2rem;
    color: gray;
    font-weight: 600;
    font-family: sans-serif;
}
.news-card-c p
{
    font-size: 1.2rem;
    color: gray;
    font-weight: 500;
    font-family: sans-serif;
}
.news-card-c h3
{
    color: black;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: sans-serif;
}
.news-card-c a
{
    text-decoration: none;
    font-size: 1.2rem;
    color: gray;
    font-weight: 600;
    font-family: sans-serif;
}
.achive-i
{
    border-left: 0.5px solid lightgray;
}
.achive-i h4
{
    font-size: 2rem;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
}
.achive
{
    position: relative;
    height: 60%;
}
.achive img
{
    width: 100%;
    height: 100%;
}
.achive .caption
{
    position:absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    font-size: 2rem;
    font-family: sans-serif;
    text-align: center;
    background-color: #E57A18;
    color: white;
}

@media screen and (max-width:750px)
{
    .achive-i
    {
        border: none;
        margin-top: 1rem;
    }

    .achive-i h4
    {
    font-size: 1.5rem;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    }

    .achive .caption
    {
    position:absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    font-size: 1rem;
    font-family: sans-serif;
    text-align: center;
    background-color: #E57A18;
    color: white;
    }
    }
/* End of News Section */

/* Start of Admission Section */
.admission
{
    width: 100%;
    background-color: #1FC113;
}

.admission-m span
{
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
}

.admission-m h2
{
    color: white;
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
}

@media screen and (max-width:400px)
{
    .admission-m span
    {
        font-size: 1rem;
    }
    .admission-m h2
    {
        font-size: 2rem;
    }
    
}
.form-admission .btn
{
    color: white;
    background-color: #1FC113;
}

.form-admission .btn input
{
    background-color: #1FC113;
    color: white;
    outline: none;
    font-weight: 600;
    font-size: 1.4rem;
    border: none;
    height: 2.4rem;
    margin-top: 1rem;
    text-transform: uppercase;
    border-bottom: 2px solid white;
}

.form-admission input
{
    height: 4rem;
    color: black;
    margin-top: 1.2rem;
}

.form-admission input::placeholder { 
    color: black;
    opacity: 1; /* Firefox */
  }
  
  .form-admission input:-ms-input-placeholder { 
    color: black;
  }
  
  .form-admission input::-ms-input-placeholder { 
    color: black;
  }
  .a-img img
  {
      box-sizing: border-box;
      border: 5px solid #E57A18;
      margin-left: 1rem;
  }

  @media screen and (max-width:750px)
  {
    .a-img
    {
        display: none;
    }
  }
/* End of Admission Section */

/* Start of Event Section */
.events
{
    position: relative;
}
.e-details
{
    position: absolute;
    bottom: -2rem;
    padding-top: 0.6rem;
    padding-right: 2rem;
    padding-left: 0.6rem;
    padding-bottom: 0.6rem;
    left: 1rem;
    background-color: white;
}
.e-details span
{
    font-size: 1.2rem;
}

.e-details a
{
    color: black;
    font-weight: 600;
    border-bottom: 0.8px solid gray;
    text-transform: uppercase;
}

.e-name
{
    border-radius: 1rem;
    background-color: lightblue;
    font-weight: 700;
    padding: 0.4rem 1rem;
    text-align: center;
    text-transform: uppercase;
}

.e-name a
{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.e-name a:hover
{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.events-option
{
    padding: 3rem 0;
}

@media screen and (max-width:750px)
{
    .events-option
    {
        display: flex!important;
        flex-direction: column;
        padding: 1rem 0;
        margin-top: 0.6rem!important;
    }
    .e-name{
        margin: 1rem;
    }
}

@media screen and (max-width:300px)
{
    .e-name
    {
        font-size: 0.4rem;
        font-weight: 500;
        margin: 0.4rem;
    }
    .events
    {
        margin-top: 4rem;
    }

}
/* End of Event Sectoion */

/* Partner */
.partners
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;

}
.partners img
{
    width: 120px;
    height: 60px;
}
@media screen and (max-width:750px)
{
    .partners
    {
        flex-direction: column;
    }

    .partners img
    {
        margin-top: 0.6rem;
    }
}
/* End of Partner */

/* Footer */
.footer
{
    background-image: url("../images/backimage.jpg");
    background-size: 100% 100%;
}
.f-links
{
    color: white;
    margin-left: 4rem;
}
.f-first,.f-second
{
    list-style-type: none;
    color: white;
}
.f-links span
{
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 400;
    border-bottom: 1px solid white;

}
.f-first li a,.f-second li a
{
    color: white;
    font-size: 1rem;
    line-height: 2!important;

}

.f-subscribe span
{
    color: white;
    font-family: sans-serif;
    font-size: 1.2rem;
    border-bottom: 1px solid white;
    
}
.f-subscribe
{
    margin-left: 8rem;
    width: 60%;
    padding-left: 4rem;
    border-left: 1px solid white;
}
.f-input input
{
    width: 100%;
    background: transparent;
    color: white!important;
    outline: none;
    border: none;
    padding-left: 0.3rem;
    font-size: 1.2rem;
    border-bottom: 1px solid white;
}
.f-input
{
    position: relative;
    padding-top: 1.2rem;
}

.f-input input[type=submit]
{
    position: absolute;
    right: 0;
    color: black!important;
    border: none;
    background-color: white;
    outline: none;
    border-radius:50%;
    bottom: 0.2rem;
    font-weight: 600;
    width: 30px;
    box-sizing: border-box;
    height: 30px;
    font-size: 0.8rem;
    padding: 0.3rem;
}

@media screen and (max-width:1000px)
{
    .footer-c
    {
        display: flex;
        flex-direction: column;
    }
    .f-links
    {
        margin:1.2rem 1rem;
    }

    .f-links span
    {
        margin-top: 2rem!important;
    }
    .f-logo
    {
        text-align: center;
    }
    .f-first,.f-second
    {
        padding-top: 0!important;
    }

    .f-subscribe
    {
        margin-left: 0;
        padding-left:0;
        width: 100%;
        border: none;
        margin-bottom: 1rem;
    }

    .f-input
    {
        padding-top: 0;
    }

}
/* End of footer */